<!DOCTYPE html>
{% extends "main.html" %}
{% block title %}SnapSentinel{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="p-3 m-0 border-0 bd-example m-0 border-0">
<h1>Available SNMP</h1>
<table border="1" cellpadding="5" id="hosts_table">
<thead><tr><th>Host</th><th>User</th><th>Description</th><th>CPU</th><th>MEM</th><th>Protocol</th><th>Details</th><th>Delete SNMP</th></tr></thead>
{% for row in hosts %}
<tr>
<td><a target="_blank" href="./snmp_info?host={{ row['host'] }}">{{ row['host'] }}</a></td>
<td>{{ row['user'] }}</td>
<td>{{ row['description'] }}</td>
<td>{{ row['threshold_cpu'] }}</td>
<td>{{ row['threshold_mem'] }}</td>
<td>{{ row['details'] }}</td>
{%if row['protocol'] == "True"%}
<td>Secure (v3)</td>{%else%}<td>Insecure (v2)</td>
{%endif%}
<td><button class="btn btn-danger" onclick="deleteSNMPHost('{{ row['host'] }}')">Delete</button></td>
</tr>
{% endfor %}
</table>

<h2>Add New SNMP</h2>
<form id="addForm">
Host: <input id="host" type="text" class="form-control" name="host" required><br>
User: <input id="user" type="text" class="form-control" name="user" required><br>
Description: <input id="description" type="text" class="form-control" name="description" required><br>
CPU: <input id="cpu" type="number" step="0.01" min="0" class="form-control" name="cpu" required><br>
MEM: <input id="mem" type="number" step="0.01" min="0" class="form-control" name="mem" required><br>
Protocol: <select id="protocol" name="protocol" class="form-select"><option value="false">Insecure (v2)</option><option value="true">Secure (v3)</option></select><br>
The following are needed only if a secure protocol was chosen.<br>
PrivKey: <input id="PrivKey" type="password" class="form-control" name="PrivKey"><br>
AuthKey: <input id="AuthKey" type="password" class="form-control" name="AuthKey"><br>
<button id="button_add" class="form-control" class="btn btn-info">Add SNMP</button>
</form>
</div>

<script>
$('#hosts_table').DataTable();
function deleteSNMPHost(host) {
    e.preventDefault();
        try {
            $.ajax({
                url: './delete_snmp_host',
                data: {host: host},
                type: 'POST',
                success: function(response) {
                    alert("SNMP host was deleted!");
                    location.reload();
                },
                error: function(error) {
                    alert("SNMP host was not deleted because of: " + error);
                }
            });
        }
        catch (exception_var) {
            console.log(exception_var);
        }
};



$('#button_add').on('click', function(e) {
    e.preventDefault();
    try {
        $.ajax({
            url: './add_snmp',
            data: {user: $('#user').val(), description: $('#description').val(), cpu: $('#cpu').val(), mem: $('#mem').val(), protocol:$('#protocol').val(), host: $('#host').val(), PrivKey: $('#PrivKey').val(), AuthKey: $('#AuthKey').val()},
            type: 'POST',
            success: function(response) {
                alert("Host was added!");
                location.reload();
            },
            error: function(error) {
                alert("Host was not added because of: " + error);
            }
        });
    }
    catch (exception_var) {
        console.log(exception_var);
    }
});
</script>
{% endblock %}