<!DOCTYPE html>
{% extends "main.html" %}
{% block title %}SnapSentinel (Kubernetes){% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Available Hosts</h1>
<table border="1" cellpadding="5">
<tr><th>Host</th><th>User</th><th>User</th><th>Description</th><th>CPU</th><th>MEM</th></tr>
{% for row in hosts %}
<tr>
<td>{{ row['host'] }}</td>
<td>{{ row['user'] }}</td>
<td>{{ row['description'] }}</td>
<td>{{ row['threshold_cpu'] }}</td>
<td>{{ row['threshold_mem'] }}</td>
<td>
<button onclick="deleteHost('{{ row['host'] }}')">Delete</button>
</td>
</tr>
{% endfor %}
</table>


<h2>Add New Host</h2>
<form id="addForm">
Host: <input type="text" name="host" required><br>
User: <input type="text" name="user" required><br>
Description: <input type="text" name="description" required><br>
CPU: <input type="text" name="cpu" required><br>
MEM: <input type="text" name="mem" required><br>
Password: <input type="password" name="password" required><br>
<button type="submit">Add Host</button>
</form>


<script>
function deleteHost(host) {
$.post('/delete_saved_host', {host: host}, function(response) {
alert(JSON.stringify(response));
location.reload();
});
}


$('#addForm').on('submit', function(e) {
e.preventDefault();
$.post('/connect_host', $(this).serialize(), function(response) {
alert(JSON.stringify(response));
location.reload();
});
});
</script>
{% endblock %}