{% extends "main.html" %}
{% block title %}Snap4Sentinel{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<table id="cronjobs">
  <thead>
      <tr>
        <th>Cronjob</th>
        <th>Name</th>
        <th>Command</th>
        <th>Category</th>
        <th>Where To Run</th>
        <th>Restart logic</th>
        <th>Description</th>
		<th>Is Enabled?</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
  </thead>
  <tbody>
{%for item in cronjobs%}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      {% for cat in categories %}{%if item[3] == cat[0] %}<td>{{cat[1]}}</td>{% endif %}{% endfor %}
      <td>{{item[4]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[7]}}</td>
	  {%if item[5] == 1%}
	  <td>Disabled</td>
	  {%else%}
	  <td>Enabled</td>
	  {%endif%}
      <td><button type="button" class="btn btn-primary open-modal-m" data-toggle="modal" data-target="#deleteCronJob" data-component="{{item[0]}}" id="deleteCronjob{{item[0]}}" onClick="$('#addCronjobModal').modal('hide')">Delete</button></td>
      <td><button type="button" class="btn btn-primary open-modal-e" data-toggle="modal" data-target="#editCronJob" data-component="{{item[0]}}" data-name="{{item[1] | e}}" data-command="{{item[2] | e}}" data-restart="{{item[6] | e}}" data-description="{{item[7] | e}}" data-category="{{item[3] | e}}" id="editCronJob{{item[0]}}" data-where="{{item[4] | e}}" data-disabled="{{item[5]}}" onClick="$('#addCronjobModal').modal('hide')">Edit</button></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-primary open-modal" data-toggle="modal" data-target="#addCronJobModal" id="addCronjob">Add</button>
<div class="modal fade" id="addCronJobModal" tabindex="-1" role="dialog" aria-labelledby="addCronJobLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCronJobLabel">Add a new cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#addCronJobModal').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCronJobForm">
                    <div class="form-group">
                        <label for="passwordInputAdd">Password</label>
                        <input type="password" class="form-control" id="passwordInputAdd" autocomplete="current-password" required>
                    </div>
                    <label for="category-selection">Select category:</label>
                    <select id="category-selection" name="category-selection" class="form-select">
                        {%for item in categories %}<option value="{{item[0]}}">{{item[1]}}</option>{% endfor %}
                    </select>
                    <div class="form-group">
                        <label for="NameCronJobAdd">Name</label>
                        <input type="text" class="form-control" id="NameCronJobAdd" required>
                    </div>
                    <div class="form-group">
                        <label for="CommandAdd">Command</label>
                        <input type="text" class="form-control" id="CommandAdd" placeholder="Insert a bash command" required>
                        <p class="d-inline-flex gap-1">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseAdd" role="button" aria-expanded="false" aria-controls="collapseAdd">Show More</a>
                        </p>                
                        <div class="collapse" id="collapseAdd">
                            <div class="card card-body">
                                <h3>Network Port & Service Monitoring Examples</h3>
                                <pre><code>curl -ILsSf http://127.0.0.1:9080</code></pre>Prints the head (-I) of a request to the provided url. Follows redirects (-L), doesn't print to stderr (-s) <i>unless</i> there's an error (-S). HTTP errors are considered errors (-f) and write to stderr.</li>
                                <hr>
                                <pre><code>nc -zn 127.0.0.1 9080 > /dev/null 2>&1 && echo "ok" || echo "error: connection refused or timeout" >&2</code></pre>Uses Netcat to check a port. Uses numeric ip (-n) and only checks the port (-z). Beyond <code>> /dev/null</code> there is a simple logic to send errors to stderr: nc sends much of its output to stderr and the rest of the script cleans it up.</li>
                                <hr>
                                <pre><code>CODE=$(curl -sL -o /dev/null -w "%{http_code}" http://127.0.0.1:9080) && [ "$CODE" -eq 200 ] && echo "ok" || echo "error: status $CODE" >&2</code></pre>Gets the headers of a get request which has its output thrown away (-o /dev/null), then reads and store the value. It is then compared to 200; if it is equal, print to stdout, otherwise print to stderr.</li>
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl.sh url [timeout=10]</code></pre>Makes a HEAD request with curl and accepts 2xx and 3xx. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_nc.sh host port [timeout=10]</code></pre>Uses nc to check a port. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_httpcode.sh url httpcode [timeout=10]</code></pre>Makes a GET request with curl and accepts only exactly httpcode, after follows. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_retries.sh url [timeout=10] [retries=3]</code></pre>Makes a HEAD request with curl and accepts 2xx and 3xx. Optional timeout may be set, in seconds. Will attempt up to the number of retries, if all attempts fail then will return an error.  Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_nc_retries.sh host port [timeout=10] [retries=3]</code></pre>Uses nc to check a port. Optional timeout may be set, in seconds. Will attempt up to the number of retries, if all attempts fail then will return an error. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_httpcode_retries.sh url httpcode [retries=3]</code></pre>Makes a GET request with curl and accepts only exactly httpcode, after follows. Will attempt up to the number of retries, if all attempts fail then will return an error.  Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WhereToRunAdd">Where to run</label>
                        <input type="text" class="form-control" id="WhereToRunAdd" placeholder="Insert where to run this cronjob (leave empty for master)">
                    </div>
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="createEnabled" checked>
						<label class="form-check-label" for="createEnabled">
							Enabled Cronjob
						</label>
					</div>
                    <div class="form-group">
                        <label for="RestartLogicAdd">Restart Logic</label>
                        <input type="text" class="form-control" id="RestartLogicAdd" placeholder="Insert the restart logic behind the element under cronjob scrutiny">
                    </div>
                    <div class="form-group">
                        <label for="DescriptionAdd">Description</label>
                        <input type="text" class="form-control" id="DescriptionAdd" placeholder="Insert the description which explains the cronjob">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#addCronJobModal').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="addCronJobButton">Add cronjob</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCronJob" tabindex="-1" role="dialog" aria-labelledby="editCronJobModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editComponentLabel">Edit cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#editCronJob').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editComponentForm">
                    
                    <div class="form-group">
                        <label for="CronJobEditId">Cronjob ID</label>
                        <input type="text" class="form-control" id="CronJobEditId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="passwordInputEdit">Password</label>
                        <input type="password" class="form-control" id="passwordInputEdit" autocomplete="current-password" required>
                    </div>
                    <label for="category-selection-edit">Select category:</label>
                    <select id="category-selection-edit" name="category-selection-edit" class="form-select">
                        {% for item in categories %}
                            <option value="{{item[0]}}">{{item[1]}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group">
                        <label for="NameCronJobEdit">Name</label>
                        <input type="text" class="form-control" id="NameCronJobEdit" required>
                    </div>
                    <div class="form-group">
                        <label for="CommandEdit">Command</label>
                        <input type="text" class="form-control" id="CommandEdit" placeholder="Insert a bash command" required>
                        <p class="d-inline-flex gap-1">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseEdit" role="button" aria-expanded="false" aria-controls="collapseEdit">Show More</a>
                        </p>
                                        
                        <div class="collapse" id="collapseEdit">
                            <div class="card card-body">
                                <h3>Network Port & Service Monitoring Examples</h3>
                                <pre><code>curl -ILsSf http://127.0.0.1:9080</code></pre>Prints the head (-I) of a request to the provided url. Follows redirects (-L), doesn't print to stderr (-s) <i>unless</i> there's an error (-S). HTTP errors are considered errors (-f) and write to stderr.</li>
                                <hr>
                                <pre><code>nc -zn 127.0.0.1 9080 > /dev/null 2>&1 && echo "ok" || echo "error: connection refused or timeout" >&2</code></pre>Uses Netcat to check a port. Uses numeric ip (-n) and only checks the port (-z). Beyond <code>> /dev/null</code> there is a simple logic to send errors to stderr: nc sends much of its output to stderr and the rest of the script cleans it up.</li>
                                <hr>
                                <pre><code>CODE=$(curl -sL -o /dev/null -w "%{http_code}" http://127.0.0.1:9080) && [ "$CODE" -eq 200 ] && echo "ok" || echo "error: status $CODE" >&2</code></pre>Gets the headers of a get request which has its output thrown away (-o /dev/null), then reads and store the value. It is then compared to 200; if it is equal, print to stdout, otherwise print to stderr.</li>
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl.sh url [timeout=10]</code></pre>Makes a HEAD request with curl and accepts 2xx and 3xx. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_nc.sh host port [timeout=10]</code></pre>Uses nc to check a port. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_httpcode.sh url httpcode [timeout=10]</code></pre>Makes a GET request with curl and accepts only exactly httpcode, after follows. Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_retries.sh url [timeout=10] [retries=3]</code></pre>Makes a HEAD request with curl and accepts 2xx and 3xx. Optional timeout may be set, in seconds. Will attempt up to the number of retries, if all attempts fail then will return an error.  Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_nc_retries.sh host port [timeout=10] [retries=3]</code></pre>Uses nc to check a port. Optional timeout may be set, in seconds. Will attempt up to the number of retries, if all attempts fail then will return an error. Sentinel's maximum cronjob timeout still applies.
                                <hr>
                                <pre><code>/app/scripts/sentinel_curl_httpcode_retries.sh url httpcode [retries=3]</code></pre>Makes a GET request with curl and accepts only exactly httpcode, after follows. Will attempt up to the number of retries, if all attempts fail then will return an error.  Optional timeout may be set, in seconds. Sentinel's maximum cronjob timeout still applies.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WhereToRunEdit">Where to run</label>
                        <input type="text" class="form-control" id="WhereToRunEdit" placeholder="Insert where to run this cronjob (leave empty for master)">
                    </div>
					
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="editEnabled" checked>
						<label class="form-check-label" for="editEnabled">
							Enabled Cronjob
						</label>
					</div>
                    
                    <div class="form-group">
                        <label for="RestartLogicEdit">Restart Logic</label>
                        <input type="text" class="form-control" id="RestartLogicEdit" placeholder="Insert the restart logic behind the element under cronjob scrutiny">
                    </div>
                    <div class="form-group">
                        <label for="DescriptionEdit">Description</label>
                        <input type="text" class="form-control" id="DescriptionEdit" placeholder="Insert the description which explains the cronjob">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#editCronJob').modal('hide')">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="saveCronJobChangesButton">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCronJob" tabindex="-1" role="dialog" aria-labelledby="deleteCronJobLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteComponentLabel">Confirmation for deleting cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#deleteCronJob').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteComponentForm">
                    <div class="form-group">
                        <label for="passwordInputDelete">Password</label>
                        <input type="password" class="form-control" id="passwordInputDelete" autocomplete="current-password" required>
                    </div>
                    <div class="form-group">
                        <label for="CronJobDeleteId">Cronjob ID</label>
                        <input type="text" class="form-control" id="CronJobDeleteId" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#deleteCronJob').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteCronJobButton" >Delete cronjob</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // 1. Get the 'value' from the URL query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const targetValue = urlParams.get('cronjob_id');

        // 2. Only proceed if the parameter 'value' is actually present
        if (targetValue) {
            // 3. Construct the selector for class "thisclass" and attribute "thisattribute"
            const selector = `.open-modal-e[data-component="${targetValue}"]`;
            const button = document.querySelector(selector);

            if (button) {
            button.click();
            } else {
            console.warn(`Element not found for selector: ${selector}`);
            }
        }
        
        $("#cronjobs").DataTable();
        });

    $('.open-modal-m').on('click', function() {
        var id = $(this).data('component');
        $('#CronJobDeleteId').val(id);
        $('#deleteCronJob').modal('show');
    });
    $('.open-modal-e').on('click', function() {
        var id = $(this).data('component');
        var enabled = $(this).data('disabled')
        var name = $(this).data('name');
        var command = $(this).data('command');
        var category = $(this).data('category');
        var where_to_run = $(this).data('where');
        var restart = $(this).data('restart');
        var description = $(this).data('description');
        $('#CronJobEditId').val(id);
        $('#NameCronJobEdit').val(name);
        $('#CommandEdit').val(command);
        $('#RestartLogicEdit').val(restart);
        $('#DescriptionEdit').val(description);
        if (where_to_run==="master") {$('#WhereToRunEdit').val("");} else {$('#WhereToRunEdit').val(where_to_run);}
        $('#editEnabled')[0].checked=1^enabled;
        let select = document.getElementById('category-selection-edit');
        select.value=category;
        $('#editCronJob').modal('show');
    });
    $('.open-modal').on('click', function() {
        $('#addCronJobModal').modal('show');
    });
    $('#deleteCronJobButton').on('click', function() {
        var password = $('#passwordInputDelete').val();
        var id = $('#CronJobDeleteId').val();
        if (password) {
            try {
                $.ajax({
                    url: './delete_cronjob',
                    data: {id: id, psw: password},
                    type: 'POST',
                    success: function(response) {
                        alert("Cronjob was deleted!");
                        window.location = window.location.href.split("?")[0];
                        location.reload();
                    },
                    error: function(error) {
                        alert("Cronjob was not deleted because of: " + error);
                    },
                    timeout: {{timeout}}
                });
            }
            catch (exception_var) {
                console.log(exception_var);
            }
        }
        else {
            alert('Please enter a password');
        }
    });
    $('#addCronJobButton').on('click', function() {
        var password = $('#passwordInputAdd').val();
        var category = $('#category-selection').val();
        var command = $('#CommandAdd').val();
        var name = $('#NameCronJobAdd').val();
        var where = $('#WhereToRunAdd').val();
        var restart = $('#RestartLogicAdd').val();
        var description = $('#DescriptionAdd').val();
		var disabled = $('#createEnabled')[0].checked;
        if (password) {
            try {
                $.ajax({
                    url: './add_cronjob',
                    data: {psw: password, category: category, command: command, name: name, where_to_run: where, disabled: disabled, restart: restart, description: description},
                    type: 'POST',
                    success: function(response) {
                        alert("Cronjob was added!");
                        window.location = window.location.href.split("?")[0];
                        location.reload();
                    },
                    error: function(error) {
                        alert("Cronjob was not added because of: " + error);
                    },
                    timeout: {{timeout}}
                });
            }
            catch (exception_var) {
                console.log(exception_var);
            }
        }
        else {
            alert('Please enter a password');
        }
    });
    $('#saveCronJobChangesButton').on('click', function() {
    var id = $('#CronJobEditId').val();
    var password = $('#passwordInputEdit').val();
    var category = $('#category-selection-edit').val();
    var command = $('#CommandEdit').val();
    var name = $('#NameCronJobEdit').val();
    var where = $('#WhereToRunEdit').val();
	var disabled = $('#editEnabled')[0].checked;
    var restart = $('#RestartLogicEdit').val();
    var description = $('#DescriptionEdit').val();
    if (password) {
        try {
            $.ajax({
                url: './edit_cronjob',
                data: {psw: password, command: command, name: name, category: category, where_to_run: where, id: id, disabled: disabled, restart: restart, description: description},
                type: 'POST',
                success: function(response) {
                    alert("Cronjob was edited!");
                    window.location = window.location.href.split("?")[0];
                    location.reload();
                },
                error: function(error) {
                    alert("Cronjob was not edited because of: " + error.responseText);
                },
                timeout: {{timeout}}
            });
        }
        catch (exception_var) {
            console.log(exception_var);
        }
    }
    else {
        alert('Please enter a password');
    }
    });
</script>
{% endblock %}