{% extends "main.html" %}
{% block title %}Snap4Sentinel{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<table id="cronjobs">
  <thead>
      <tr>
        <th>Cronjob</th>
        <th>Name</th>
        <th>Command</th>
        <th>Category</th>
        <th>Where To Run</th>
        <th>Restart logic</th>
        <th>Description</th>
        <th>Timeout Time</th>
        <th>Retries</th>
        <th>Retries wait</th>
        <th>IP</th>
        <th>Target</th>
        <th>Contacts</th>
		<th>Is Enabled?</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
  </thead>
  <tbody>
{%for item in cronjobs%}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      {% for cat in categories %}{%if item[3] == cat[0] %}<td>{{cat[1]}}</td>{% endif %}{% endfor %}
      <td>{{item[4]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[7]}}</td>
      <td>{{item[8]}}</td>
      <td>{{item[9]}}</td>
      <td>{{item[10]}}</td>
      <td>{{item[11]}}</td>
      <td>{{item[12]}}</td>
      <td>{{item[14]}}</td>
	  {%if item[5] == 1%}
	  <td>Disabled</td>
	  {%else%}
	  <td>Enabled</td>
	  {%endif%}
      <td><button type="button" class="btn btn-primary open-modal-m" data-toggle="modal" data-target="#deleteCronJob" data-component="{{item[0]}}" id="deleteCronjob{{item[0]}}" onClick="$('#addCronjobModal').modal('hide')">Delete</button></td>
      <td><button type="button" class="btn btn-primary open-modal-e" data-toggle="modal" data-target="#editCronJob" data-component="{{item[0]}}" data-name="{{item[1] | e}}" data-command="{{item[2] | e}}" data-restart="{{item[6] | e}}" data-description="{{item[7] | e}}" data-category="{{item[3] | e}}" id="editCronJob{{item[0]}}" data-where="{{item[4] | e}}" data-disabled="{{item[5]}}" data-timeouttime="{{item[8]}}" data-retries="{{item[9]}}" data-retrieswait="{{item[10]}}" data-ip="{{item[11]}}" data-target_val="{{item[12]}}" data-contacts="{{item[14] | e}}" onClick="$('#addCronjobModal').modal('hide')">Edit</button></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<button type="button" class="btn btn-primary open-modal" data-toggle="modal" data-target="#addCronJobModal" id="addCronjob">Add</button>
<div class="modal fade" id="addCronJobModal" tabindex="-1" role="dialog" aria-labelledby="addCronJobLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCronJobLabel">Add a new cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#addCronJobModal').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addCronJobForm">
                    <label for="category-selection">Select category:</label>
                    <select id="category-selection" name="category-selection" class="form-select">
                        {%for item in categories %}<option value="{{item[0]}}">{{item[1]}}</option>{% endfor %}
                    </select>
                    <div class="form-group">
                        <label for="NameCronJobAdd">Name</label>
                        <input type="text" class="form-control" id="NameCronJobAdd" required>
                    </div>
                    <div class="form-group">
                        <label for="CommandAdd">Command</label>
                        <input type="text" class="form-control" id="CommandAdd" placeholder="Insert a bash command" required disabled>               
                    </div>

                    
                    <label for="command-prototype-add">Select command type:</label>
                    <select id="command-prototype-add" name="command-prototype-add" class="form-select" onchange="handleSelectionCommandPrototypeAdd(this)">
                    {% for element in cronjobs_prototypes%}{% set word_list = element[3].split(',') %}
                    <option value="{{element[1] | e}}" data-desc="{{element[2] | e}}" data-params="{{word_list}}">{{element[4]}}</option>
                    {% endfor %}
                    </select>
                    <div id="category-selection-desc-add" class="form-text">{{cronjobs_prototypes[0][2] | e}}</div>
                    <div id="additional-params-add"></div>

                    <div class="form-group">
                        <label for="WhereToRunAdd">Where to run</label>
                        <input type="text" class="form-control" id="WhereToRunAdd" placeholder="Insert where to run this cronjob (leave empty for master)">
                    </div>
                    <div class="form-group">
                        <label for="RestartLogicAdd">Restart Logic</label>
                        <input type="text" class="form-control" id="RestartLogicAdd" placeholder="Insert the restart logic behind the element under cronjob scrutiny">
                    </div>
                    <div class="form-group">
                        <label for="DescriptionAdd">Description</label>
                        <input type="text" class="form-control" id="DescriptionAdd" placeholder="Insert the description which explains the cronjob">
                    </div>
                    <div class="form-group">
                        <label for="Timeout_timeAdd">Timeout_time</label>
                        <input type="number" min="0"class="form-control" id="Timeout_timeAdd" placeholder="Insert the Timeout_time of the cronjob" onchange="update_add()">
                    </div>

                    <div class="form-group">
                        <label for="RetriesAdd">Retries</label>
                        <input type="number" min="0" class="form-control" id="RetriesAdd" placeholder="Insert the Retries of the cronjob" onchange="update_add()">
                    </div>

                    <div class="form-group">
                        <label for="Retries_waitAdd">Retries_wait</label>
                        <input type="number" min="0" class="form-control" id="Retries_waitAdd" placeholder="Insert the Retries_wait of the cronjob" onchange="update_add()">
                    </div>

                    <div class="form-group">
                        <label for="IPAdd">IP</label>
                        <input class="form-control" id="IPAdd" placeholder="Insert the IP of the cronjob">
                    </div>
                    
                    <div class="form-group">
                        <label for="TargetAdd">Target</label>
                        <input type="text" class="form-control" id="TargetAdd" placeholder="Insert the Target of the cronjob" onchange="update_add()">
                    </div>
                    
                    <div class="form-group">
                        <label for="ContactsAdd">Target</label>
                        <input type="text" class="form-control" id="ContactsAdd" placeholder="Insert the contacts of the cronjob">
                    </div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="createEnabled" checked>
						<label class="form-check-label" for="createEnabled">
							Enabled Cronjob
						</label>
					</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#addCronJobModal').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="addCronJobButton" onClick="confirm_add()">Add cronjob</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCronJob" tabindex="-1" role="dialog" aria-labelledby="editCronJobModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editComponentLabel">Edit cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#editCronJob').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editComponentForm">
                    
                    <div class="form-group">
                        <label for="CronJobEditId">Cronjob ID</label>
                        <input type="text" class="form-control" id="CronJobEditId" readonly>
                    </div>
                    <label for="category-selection-edit">Select category:</label>
                    <select id="category-selection-edit" name="category-selection-edit" class="form-select">
                        {% for item in categories %}
                            <option value="{{item[0]}}">{{item[1]}}</option>
                        {% endfor %}
                    </select>
                    <div class="form-group">
                        <label for="NameCronJobEdit">Name</label>
                        <input type="text" class="form-control" id="NameCronJobEdit" required>
                    </div>

                    <div class="form-group">
                        <label for="CommandEdit">Command</label>
                        <input type="text" class="form-control" id="CommandEdit" placeholder="Insert a bash command" required disabled>
                    </div>


                    <label for="command-prototype-edit">Select command type:</label>
                    <select id="command-prototype-edit" name="command-prototype-edit" class="form-select" onchange="handleSelectionCommandPrototypeEdit(this)">
                    {% for element in cronjobs_prototypes%}{% set word_list = element[3].split(',') %}
                    <option value="{{element[1] | e}}" data-desc="{{element[2] | e}}" data-params="{{word_list}}">{{element[4]}}</option>
                    {% endfor %}
                    </select>
                    <div id="category-selection-desc-edit" class="form-text">{{cronjobs_prototypes[0][2] | e}}</div>
                    
                    <div id="additional-params-edit"></div>

                    <div class="form-group">
                        <label for="WhereToRunEdit">Where to run</label>
                        <input type="text" class="form-control" id="WhereToRunEdit" placeholder="Insert where to run this cronjob (leave empty for master)">
                    </div>

                    <div class="form-group">
                        <label for="RestartLogicEdit">Restart Logic</label>
                        <input type="text" class="form-control" id="RestartLogicEdit" placeholder="Insert the restart logic behind the element under cronjob scrutiny">
                    </div>

                    <div class="form-group">
                        <label for="DescriptionEdit">Description</label>
                        <input type="number" min="0" class="form-control" id="DescriptionEdit" placeholder="Insert the description which explains the cronjob">
                    </div>                    
                    
                    <div class="form-group">
                        <label for="Timeout_timeEdit">Timeout_time</label>
                        <input type="number" min="0" class="form-control" id="Timeout_timeEdit" placeholder="Insert the Timeout_time of the cronjob" onchange="update_edit()">
                    </div>

                    <div class="form-group">
                        <label for="RetriesEdit">Retries</label>
                        <input type="number" min="0" class="form-control" id="RetriesEdit" placeholder="Insert the Retries of the cronjob" onchange="update_edit()">
                    </div>

                    <div class="form-group">
                        <label for="Retries_waitEdit">Retries_wait</label>
                        <input type="number" min="0" class="form-control" id="Retries_waitEdit" placeholder="Insert the Retries_wait of the cronjob" onchange="update_edit()">
                    </div>

                    <div class="form-group">
                        <label for="IPEdit">IP</label>
                        <input type="text" class="form-control" id="IPEdit" placeholder="Insert the IP of the cronjob">
                    </div>

                    <div class="form-group">
                        <label for="TargetEdit">Target</label>
                        <input type="text" class="form-control" id="TargetEdit" placeholder="Insert the Target of the cronjob" onchange="update_edit()">
                    </div>

                    <div class="form-group">
                        <label for="ContactsEdit">Target</label>
                        <input type="text" class="form-control" id="ContactsEdit" placeholder="Insert the contacts of the cronjob">
                    </div>
                    
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="editEnabled" checked>
						<label class="form-check-label" for="editEnabled">
							Enabled Cronjob
						</label>
					</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#editCronJob').modal('hide')">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="saveCronJobChangesButton" onClick="editCronJob()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmEditModal" tabindex="-1" role="dialog" aria-labelledby="confirmEditModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmEditModalLabel">Confirmation for deleting cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#confirmEditModal').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="confirmEditForm">
                    <div class="form-group">
                        <label for="passwordInputEdit">Password</label>
                        <input type="password" class="form-control" id="passwordInputEdit" autocomplete="current-password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#confirmEditModal').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmEditButton" >Edit cronjob</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmAddCronjob" tabindex="-1" role="dialog" aria-labelledby="confirmAddCronjobLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmAddCronjobLabel">Confirmation for creating cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#confirmAddCronjob').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="confirmAddCronjobForm">
                    <div class="form-group">
                        <label for="passwordInputAdd">Password</label>
                        <input type="password" class="form-control" id="passwordInputAdd" autocomplete="current-password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#confirmAddCronjob').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmAddCronjobButton" >Add cronjob</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCronJob" tabindex="-1" role="dialog" aria-labelledby="deleteCronJobLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteComponentLabel">Confirmation for deleting cronjob</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px;" onClick="$('#deleteCronJob').modal('hide')">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="deleteComponentForm">
                    <div class="form-group">
                        <label for="passwordInputDelete">Password</label>
                        <input type="password" class="form-control" id="passwordInputDelete" autocomplete="current-password" required>
                    </div>
                    <div class="form-group">
                        <label for="CronJobDeleteId">Cronjob ID</label>
                        <input type="text" class="form-control" id="CronJobDeleteId" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn close btn-secondary" data-dismiss="modal" aria-label="Close" onClick="$('#deleteCronJob').modal('hide')">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteCronJobButton" >Delete cronjob</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // 1. Get the 'value' from the URL query parameters
        const urlParams = new URLSearchParams(window.location.search);
        const targetValue = urlParams.get('cronjob_id');

        // 2. Only proceed if the parameter 'value' is actually present
        if (targetValue) {
            // 3. Construct the selector for class "thisclass" and attribute "thisattribute"
            const selector = `.open-modal-e[data-component="${targetValue}"]`;
            const button = document.querySelector(selector);

            if (button) {
            button.click();
            } else {
            console.warn(`Element not found for selector: ${selector}`);
            }
        }
        
        $("#cronjobs").DataTable();
        });

    $('.open-modal-m').on('click', function() {
        var id = $(this).data('component');
        $('#CronJobDeleteId').val(id);
        $('#deleteCronJob').modal('show');
    });
    $('.open-modal-e').on('click', function() {
        var id = $(this).data('component');
        var enabled = $(this).data('disabled')
        var name = $(this).data('name');
        var command = $(this).data('command');
        var category = $(this).data('category');
        var where_to_run = $(this).data('where');
        var restart = $(this).data('restart');
        var description = $(this).data('description');

        var timeouttime = $(this).data('timeouttime');
        var retries = $(this).data('retries');
        var retrieswait = $(this).data('retrieswait');
        var ip = $(this).data('ip');
        var target = $(this).data('target_val');
        var contacts = $(this).data('contacts');
        $('#Timeout_timeEdit').val(timeouttime);
        $('#RetriesEdit').val(retries);
        $('#Retries_waitEdit').val(retrieswait);
        $('#IPEdit').val(ip);
        $('#TargetEdit').val(target);
        $('#ContactsEdit').val(contacts);
        $('#CronJobEditId').val(id);
        $('#NameCronJobEdit').val(name);
        $('#CommandEdit').val(command);
        $('#RestartLogicEdit').val(restart);
        $('#DescriptionEdit').val(description);
        if (where_to_run==="master") {$('#WhereToRunEdit').val("");} else {$('#WhereToRunEdit').val(where_to_run);}
        $('#editEnabled')[0].checked=1^enabled;
        let select = document.getElementById('category-selection-edit');
        select.value=category;
        $('#editCronJob').modal('show');
    });
    $('.open-modal').on('click', function() {
        $('#addCronJobModal').modal('show');
    });
    $('#deleteCronJobButton').on('click', function() {
        var password = $('#passwordInputDelete').val();
        var id = $('#CronJobDeleteId').val();
        if (password) {
            try {
                $.ajax({
                    url: './delete_cronjob',
                    data: {id: id, psw: password},
                    type: 'POST',
                    success: function(response) {
                        alert("Cronjob was deleted!");
                        window.location = window.location.href.split("?")[0];
                        location.reload();
                    },
                    error: function(error) {
                        alert("Cronjob was not deleted because of: " + error);
                    },
                    timeout: {{timeout}}
                });
            }
            catch (exception_var) {
                console.log(exception_var);
            }
        }
        else {
            alert('Please enter a password');
        }
    });
    $('#confirmAddCronjobButton').on('click', function() {
        var password = $('#passwordInputAdd').val();
        var category = $('#category-selection').val();
        var command = $('#CommandAdd').val();
        var name = $('#NameCronJobAdd').val();
        var where = $('#WhereToRunAdd').val();
        var restart = $('#RestartLogicAdd').val();
        var description = $('#DescriptionAdd').val();
		var disabled = $('#createEnabled')[0].checked;
        var Timeout_timeAdd = $('#Timeout_timeAdd').val();
        var RetriesAdd = $('#RetriesAdd').val();
        var Retries_waitAdd = $('#Retries_waitAdd').val();
        var IPAdd = $('#IPAdd').val();
        var TargetAdd = $('#TargetAdd').val();
        var contacts = $('#contactsAdd').val();
        if (password) {
            try {
                $.ajax({
                    url: './add_cronjob_new',
                    data: {psw: password, category: category, command: command, name: name, where_to_run: where, disabled: disabled, restart: restart, description: description, Timeout_timeAdd: Timeout_timeAdd, RetriesAdd: RetriesAdd, Retries_waitAdd: Retries_waitAdd, IPAdd: IPAdd, TargetAdd: TargetAdd, contacts: contacts},
                    type: 'POST',
                    success: function(response) {
                        alert("Cronjob was added!");
                        window.location = window.location.href.split("?")[0];
                        location.reload();
                    },
                    error: function(error) {
                        alert("Cronjob was not added because of: " + error);
                    },
                    timeout: {{timeout}}
                });
            }
            catch (exception_var) {
                console.log(exception_var);
            }
        }
        else {
            alert('Please enter a password');
        }
    });
    $('#confirmEditButton').on('click', function() {
    var id = $('#CronJobEditId').val();
    var password = $('#passwordInputEdit').val();
    var category = $('#category-selection-edit').val();
    var command = $('#CommandEdit').val();
    var name = $('#NameCronJobEdit').val();
    var where = $('#WhereToRunEdit').val();
	var disabled = $('#editEnabled')[0].checked;
    var restart = $('#RestartLogicEdit').val();
    var description = $('#DescriptionEdit').val();        
    var Timeout_timeEdit = $('#Timeout_timeEdit').val();
    var RetriesEdit = $('#RetriesEdit').val();
    var Retries_waitEdit = $('#Retries_waitEdit').val();
    var IPEdit = $('#IPEdit').val();
    var TargetEdit = $('#TargetEdit').val();
    var contacts = $('#contactsEdit').val();
    if (password) {
        try {
            $.ajax({
                url: './edit_cronjob_new',
                data: {psw: password, command: command, name: name, category: category, where_to_run: where, id: id, disabled: disabled, restart: restart, description: description, Timeout_timeEdit: Timeout_timeEdit, RetriesEdit: RetriesEdit, Retries_waitEdit: Retries_waitEdit, IPEdit: IPEdit, TargetEdit: TargetEdit, contacts: contacts},
                type: 'POST',
                success: function(response) {
                    alert("Cronjob was edited!");
                    window.location = window.location.href.split("?")[0];
                    location.reload();
                },
                error: function(error) {
                    alert("Cronjob was not edited because of: " + error.responseText);
                },
                timeout: {{timeout}}
            });
        }
        catch (exception_var) {
            console.log(exception_var);
        }
    }
    else {
        alert('Please enter a password');
    }
    });

    function confirm_add(){
        $('#addCronJobModal').modal('hide');
        $('#confirmAddCronjob').modal('show');
    }

    function confirm_edit(){
        $('#confirmEditModal').modal('show');
        $('#editCronJob').modal('hide')

    }

    function update_add(){
        const container = document.getElementById('additional-params-add');
        const inputs = Array.from(container.querySelectorAll('input'));
        const inputs_final = inputs.map(input => input.value.trim()).filter(value => value !== "").join(' ');
        let composed_command_text = $("#command-prototype-add").val() + " " + $("#TargetAdd").val() + " " + inputs_final + " " + $("#Timeout_timeAdd").val() + " " + $("#RetriesAdd").val() + " " + $("#Retries_waitAdd").val();
        $("#CommandAdd").val(composed_command_text);
    }
    function update_edit(){
        const container = document.getElementById('additional-params-edit');
        const inputs = Array.from(container.querySelectorAll('input'));
        const inputs_final = inputs.map(input => input.value.trim()).filter(value => value !== "").join(' ');
        let composed_command_text = $("#command-prototype-edit").val() + " " + $("#TargetEdit").val() + " " + inputs_final + " " + $("#Timeout_timeEdit").val() + " " + $("#RetriesEdit").val() + " " + $("#Retries_waitEdit").val();
        $("#CommandEdit").val(composed_command_text);
    }

    function handleSelectionCommandPrototypeEdit(selectElement) {
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const desc = selectedOption.getAttribute('data-desc');
        const params = selectedOption.getAttribute('data-params').replace(/'/g, '"');
        console.log("Params: "+params)
        const container = document.getElementById('additional-params-edit');
        // Clear container first if needed
        container.innerHTML = '';

        JSON.parse(params).forEach(word => {
            // Create the HTML string by replacing "Element" with our word
            const snippet = `
                <div class="form-group">
                <label for="${word}DynamicEdit">${word}</label>
                <input type="text" class="form-control" id="${word}DynamicEdit" placeholder="${word}" onchange="update_edit()">
                </div>
            `;
            
            // Append the snippet to the container
            container.insertAdjacentHTML('beforeend', snippet);
        });
        document.getElementById("category-selection-desc-edit").innerHTML=desc;
        update_edit();
    }
    function handleSelectionCommandPrototypeAdd(selectElement) {
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        const desc = selectedOption.getAttribute('data-desc');
        const params = selectedOption.getAttribute('data-params').replace(/'/g, '"');
        console.log("Params: "+params)
        const container = document.getElementById('additional-params-add');
        // Clear container first if needed
        container.innerHTML = '';

        JSON.parse(params).forEach(word => {
            // Create the HTML string by replacing "Element" with our word
            const snippet = `
                <div class="form-group">
                <label for="${word}DynamicAdd">${word}</label>
                <input type="text" class="form-control" id="${word}DynamicAdd" placeholder="${word}" onchange="update_add()">
                </div>
            `;
            
            // Append the snippet to the container
            container.insertAdjacentHTML('beforeend', snippet);
        });
        document.getElementById("category-selection-desc-add").innerHTML=desc;
        update_add();
    }
</script>
{% endblock %}